.div{"data-animate" => "fadeInUp"}
  .owl-wrapper
    - @age_groups.each do |age|
      .row
        .col-sm-3
          .post
            .owl-item{:style => "width: 228px;"}
              .item{:style => "visibility: visible;"}
                .product
                  .flip-container
                    .flipper
                      .front
                        = link_to age_groups_path(gender: age.gender) do
                          %img.img-responsive{:alt => "", :src => "age_group/#{age.image}"}/
                      .back
                        = link_to age_groups_path(gender: age.gender) do
                          %img.img-responsive{:alt => "", :src => "age_group/#{age.image}"}/
                  %a.invisible
                    %img.img-responsive{:alt => "", :src => "img/product2.jpg"}/
        .col-sm-6
          .post
            %h4.purple-heading
              #{age.title}
            %p.intro= age.description
            %p.read-more
              = link_to "Select", age_group_categories_path(age.id), class: 'btn btn-primary'
