#text-page.box
  .row
    - @categories.each do |category|
      .col-md-4
        = link_to category_gifts_path(category.id) do
          %p.text-center
            = image_tag "#{category.image_url.empty? ? 'default_person_img.jpg' : category.image_url}", class: 'img-rounded img-responsive'
        .box.same-height
          %h3
            = link_to "#{category.name.try(:titleize)}", category_gifts_path(category.id)
          %p= category.description
