!!!
%html
  %head
    %title
      Rubyrampage2016- Gitfs Galore
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'

  %body
    - if params[:controller] == 'gifts' && params[:action] == 'index'
      = yield
    - else
      #navbar.navbar.navbar-default.yamm{:role => "navigation"}
        .container
          .navbar-header
            %a.navbar-brand.home{"data-animate-hover" => "bounce", :href => "#"}
              %img.hidden-xs{:alt => "logo", :src => "img/logo.jpg"}/
              %img.visible-xs{:alt => "logo", :src => "img/logo.jpg"}/
          %h2.inline-display
            %i Gifts Galore
          %small Wrap your feeling in beautiful gestures!
      #all
        #content
          .container
            .col-md-12
              = yield